/* ReimbursementForm.css */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: none;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 5% auto 0; /* Adjusted top margin to match the login form */
    position: relative; /* Ensures the form is relative to the viewport height */
    z-index: 2; /* Keeps the form above the background image */
}

.form-content {
    width: 100%;
    text-align: center;
}

.input-container {
    height: 40px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
}

input, textarea, select {
    border: 2px solid #ccc;
    outline: none;
    width: 100%;
    padding: 12px 10px;
    font-size: 1rem;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: none;
}

textarea {
    min-height: 50px; /* Minimum height for textarea */
    resize: vertical; /* Allows resizing only vertically */
}


input:focus, textarea:focus {
    border-color: #32a852;
    box-shadow: none;
}
.input-container:hover {
    box-shadow: none; /* Rimuove l'ombra al passaggio del mouse */
}

input:hover, textarea:hover {
    box-shadow: none; /* Rimuove l'ombra al passaggio del mouse */
}

.icon {
    font-size: 1.2rem;
    color: #666;
    margin-right: 10px;
}

button {
    background: #32a852;
    color: white;
    width: 100%;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #278440;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}